<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Email Collector</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/jumbotron.css' %}">
	<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<style>
	  .bd-placeholder-img {
	    font-size: 1.125rem;
	    text-anchor: middle;
	  }

	  @media (min-width: 768px) {
	    .bd-placeholder-img-lg {
	      font-size: 3.5rem;
	    }
	  }
	  body{
	  	padding-top: 0;
        font-family: Montserrat;

	  }
	  .navbar{
	  	margin-bottom: 0px !important;
	  	border-radius: 0px !important;
	  }
	  .navbar-inverse .navbar-brand,.navbar-brand:hover{
	  	color: white;

	  }
	  .featured-row {
        text-align:center;
        background-color:white;
        min-height:200px;
        padding:40px 0;
        border-bottom: 1px solid #EEE;
      }
      .jumbotron h1 {
        font-weight: 100;
      }
      .jumbotron p {
        font-weight: 100;
        font-size: 30px;
      }

	</style>
	{% block styles %}{% endblock %}
</head>

<body>
{% block content %}{% endblock %}
    <div class="container-fluid" style="color:black; text-align:center; background-color:grey; padding:10px; margin-top:5px;" >
      <footer>
        <p>&copy; Created By Tajmul Alam 2019</p>
      </footer>
    </div> <!-- /container -->

{% block js %}{% endblock %}
</body>
</html>