{% extends 'base.html' %}
{% load static %}
{% block styles %}

  <style>
      body {
        border-top: 4px solid #E47541;
        /*min-height: 5000px;*/
        /*min-width: 5000px;*/
        background: url('{% static "img/beach.jpg" %}') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: conver;
        background-size: cover;
        /*background-image: url('{% static "img/beach.jpg" %}');*/
        /*background-image:url('https://lh4.googleusercontent.com/-FsgMNhfQLSg/AAAAAAAAAAI/AAAAAAAAaRY/3VnF3vSuWKk/photo.jpg');*/
        /*background-repeat: repeat-x;*/
      }
     
      
    </style>

{% endblock %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron"  style='background-color: white;'>
      <div class="container">
        <div class='col-sm-6'>
          <h1>Hello, world!</h1>
          <p>Use it as a starting point to create something more unique.</p>
          <!-- <p><a class="btn btn-default btn-lg btn-block" href='#signup' role="button">Be First &raquo;</a></p> -->
        </div>
        <div class='col-sm-6'>
          <img src="{% static 'img/share.png' %}" class='img-responsive img-rounded' />
          </div>
      </div>
    </div>

<!-- <div class="container" style="text-align:center;">
	<h1>Hello, welcom home</h1>
	<form method="POST" action="">
		{% csrf_token %}
		{{form.as_p}}
		<input type="submit" class="btn btn-primary"/>
	</form>
</div> -->

<div class='container' style='text-align:center;color:white;' id="signup" >
<div class='col-sm-6 col-sm-offset-3'>
<i class="fa fa-unlock fa-3x"></i>
  <h3>Unlock First</h3>

  <form class='form-horizontal' method="POST" action=""> {% csrf_token %}
    <div class='form-group form-group-lg'>
    {% if form.email.errors %}
     {% for err in form.email.errors %}
    <div class="alert alert-danger" role="alert">{{ err }}</div>
    <div class="alert alert-danger" role="alert">Your Email is required</div>
    {% endfor %}
    {% endif %}
     
        <div class="input-group">
        <input class='form-control' type="email" name="email" placeholder="Your email..." />
          <span class='input-group-btn'>
          <input type='submit' value='Join' class='btn btn-primary btn-lg' />
          </span>
        </div>
    </div>
  </form>
  <p class='lead'>Sign up here. <br/> Get First News on Content</p>
</div>


</div>
{% endblock %}
